.chart-heading-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 50px 0px 30px;
  }

.chart-heading{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 8px 0px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.1s linear;
  }
  
  .chart-heading-active{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px 10px;
    border-radius: 10px;
    padding: 8px 0px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.1s linear;
    transform: scale(1.05);
    border: 1px solid rgba(0, 0, 0, 0.25);
  }